html {
  scroll-behavior: smooth;
}

.taskbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70px;

    background: #e7ddcf; /* cream soft */
    border: 4px solid #f5e6d6;
    border-radius: 50px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(4px);

    z-index: 999;
}

.taskbar1 {
    display: flex;
    gap: 40px;
    margin: auto;
}

.taskbar1 a {
    text-decoration: none;
    font-size: 12px;
    color: #f4c88e;
    font-weight: 400;
    transition: 0.3s ease;
}

/* Hover effect */
.taskbar1 a:hover {
    color: #c3833e;
}

section, p[sdgs], p[bentuk], h1[hambatan], a[back-home], h1[potensi]{
    scroll-margin-top: 120px;
}

.scroll-btn {
  display: inline-block;
  padding: 12px 20px;
  background: #b4875b;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.scroll-btn:hover {
  background: #8f6a47;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

    background-image: url("batik3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: 120px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pengantar{
    background-image: url("batik2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 30px;
    margin: 20px auto;
    max-width: 800px;

    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.pengantar-sdgs {
    font-size: 18px;
    line-height: 1.6;
    color: #71481c;
    background-color: #edd5ba;
    border-radius: 14px;
    padding: 10px 13px;
    text-align: justify;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #543b25;
}

.bentuk-bentuk{
    color: #543b25;
    text-align: center;
    background-color: #f0d8c3;
    border-radius: 14px;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    font-size: 30px;
}

.sdgs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    justify-items: center;
}

.polaroid {
    background: #fff;
    border-radius: 14px;
    border: 3px solid #dec7a1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    text-align: center;
    transition: 0.25s ease;
    width: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.polaroid:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.20);
}


.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    color: #4b2e16;
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
}
.polaroid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    max-width: 800px; 
    margin: 0 auto; 
    justify-items: center;
}

.back-home {
    display: inline-block;
    background: #e7e5e4; 
    color: #1c1c1c;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: 0.2s ease;
    bottom: 20px;
}

.back-home:hover {
    background: #b0aead;
    transform: translateY(-2px);
}

ol {
background: #c8a27a;
padding: 15px;
list-style-type: decimal;
margin: 5px;
border-radius: 14px;
padding: 10px 13px;
}

ol li {
background: rgb(255, 226, 182);
color: #8d5921;
margin: 5px;
padding: 5px;
margin-left: 35px;
border-radius: 14px;
padding: 10px 13px;
}

.tujuan{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f7e8db;
    font-size: 25px;
    text-align: center;
    background-color: #a3652b;
    border-radius: 14px;
    padding: 10px 13px;
}

.hambatan-section{
    background-image: url("hand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.tantangan{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #424242;
    text-align: center;
    background-color: #e7e0d9e8;
    border-radius: 14px;
    padding: 10px 13px;
}

.hambatan1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e7e0d9e8;
    font-size: 15px;
    background-color: #424242;
    border-radius: 14px;
    padding: 10px 13px;
}

.hambatan2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #424242;
    font-size: 15px;
    background-color: #e7e0d9e8;
    border-radius: 14px;
    padding: 10px 13px;
}

.footer {
    margin-top: auto;
    width: 100%;
    padding: 15px 0;
    text-align: center;

    background: #b7bcbe;
    color: #eff2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.potensi-section{
    background-image: url("SDG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.potensi{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    text-align: center;
    background-color: #fde7d1;
    border-radius: 14px;
    padding: 10px 13px;
}

.potensi1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    font-size: 15px;
    background-color: #e6c9ad;
    border-radius: 14px;
    padding: 10px 13px;
}

.kerjasama-section{
    background-image: url("bilateral.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.kerjasama{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    text-align: center;
    background-color: #769dff;
    border-radius: 14px;
    padding: 10px 13px;
}

.kerjasama1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3e62bd;
    font-size: 15px;
    background-color: #b7c8f1;
    border-radius: 14px;
    padding: 10px 13px;
}
.kerjasama2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffeedd;
    text-align: center;
    background-color: #3e62bd;
    border-radius: 14px;
    padding: 10px 13px;
}

.float-img {
    float: left;
    width: 250px;
    margin-right: 15px;
    border-radius: 10px;
}

.source {
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
}

.source1{
    font-size: 13px;
    background-color: #3e62bd;
    color: rgb(183, 217, 243);
}

.source a {
    color: #a87c4f;
    text-decoration: none;
    border-bottom: 1.5px solid #d6b892;
    padding-bottom: 2px;
    transition: 0.25s ease;
}

.source a:hover {
    color: #7a5637;
    border-bottom-color: #7a5637;
}