html {
  scroll-behavior: smooth;
}

.taskbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70px;

    background: #e9e9e9;
    border: 4px solid #d8d6d3;
    border-radius: 50px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(4px);

    z-index: 999;
    text-align: center;
}

.taskbar1 {
    display: flex;
    gap: 40px;
    text-align: center;
    margin: auto;
}

.taskbar1 a {
    text-decoration: none;
    font-size: 12px;
    color: #ededed;
    font-weight: 400;
    transition: 0.3s ease;
    
}

/* Hover effect */
.taskbar1 a:hover {
    color: #a9a8a6;
}

section, h1[sdgs4],a[back-home], p[program], p[potensi]{
    scroll-margin-top: 120px;
}

.scroll-btn {
display: inline-block;
padding: 12px 20px;
background: #369ba8;
color: white;
border-radius: 10px;
text-decoration: none;
font-weight: bold;
transition: 0.3s;
}

.scroll-btn:hover {
  background: #8f6a47;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

    background-image: url("batik3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: 120px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    width: 100%;
    padding: 15px 0;
    text-align: center;

    background: #b7bcbe;
    color: #fdf1d7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    border-top: 1px solid #ddd;
}

.pengenalan{
    background-image: url("batik2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 30px;
    margin: 20px auto;
    max-width: 800px;

    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.pengenalan-sdgs4 {
    font-size: 18px;
    line-height: 1.6;
    color: #f8e2d4;
    background-color: #2e9fa9;
    border-radius: 14px;
    padding: 10px 13px;
    text-align: justify;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #543b25;
}

.program{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f8e2d4;
    font-size: 25px;
    text-align: center;
    background-color: #b33357;
    border-radius: 14px;
    padding: 10px 13px;
}
.tujuan{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f7e8db;
    font-size: 25px;
    text-align: center;
    background-color: #a3652b;
    border-radius: 14px;
    padding: 10px 13px;
}
ol {
background: #ebc097;
padding: 15px;
list-style-type: decimal;
margin: 5px;
border-radius: 14px;
padding: 10px 13px;
}

ol li {
background: rgb(255, 244, 227);
color: #9c5729;
margin: 5px;
padding: 5px;
margin-left: 35px;
border-radius: 14px;
padding: 10px 13px;
}

.back-home {
    display: inline-block;
    background: #e7e5e4; 
    color: #1c1c1c;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: 0.2s ease;
    bottom: 20px;
}

.potensi-section{
    background-image: url("papan.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.potensi{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    text-align: center;
    background-color: #fde7d1;
    border-radius: 14px;
    padding: 10px 13px;
}

.potensi1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    font-size: 15px;
    background-color: #e6c9ad;
    border-radius: 14px;
    padding: 10px 13px;
}

.peran-section{
    background-image: url("masyarakat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.peran{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    text-align: center;
    background-color: #fde7d1;
    border-radius: 14px;
    padding: 10px 13px;
}

.pengalaman-section{
    background-image: url("pengalaman.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    border: 2px solid #c8a27a;
}

.pengalaman{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    text-align: center;
    background-color: #fde7d1;
    border-radius: 14px;
    padding: 10px 13px;
}

.pengalaman1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8d5921;
    font-size: 15px;
    background-color: #e6c9ad;
    border-radius: 14px;
    padding: 10px 13px;
}

.back-home:hover {
    background: #b0aead;
    transform: translateY(-2px);
}